<?xml version = "1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- collision values -->
    <!-- body -->
    <xacro:property name="body_mass" value="0.700" />
    <!-- body_mass is approx, change accordingly -->
    <xacro:property name="body_length" value="0.160" />
    <xacro:property name="body_width" value="0.253" />
    <xacro:property name="body_height" value="0.050" />

    <!-- hip -->
    <xacro:property name="hip_mass" value="0.020" />
    <xacro:property name="hip_radius" value="0.025" />
    <xacro:property name="hip_length" value="0.050" />

    <!-- femur -->
    <xacro:property name="femur_mass" value="0.030" />
    <xacro:property name="femur_length" value="0.015"/>
    <xacro:property name="femur_width" value="0.100"/>
    <xacro:property name="femur_height" value="0.100"/>

    <!-- tibia -->
    <xacro:property name="tibia_mass" value="0.014" />
    <xacro:property name="tibia_length" value="0.008"/>
    <xacro:property name="tibia_width" value="0.112"/>
    <xacro:property name="tibia_height" value="0.112"/>

    <!-- offset values -->
    <xacro:property name="femur_joint_offset_x" value="0.010"/>
    <xacro:property name="femur_visual_offset_x" value="0.010"/>
    <xacro:property name="Rfemur_visual_offset_x" value="0.030"/>
    <xacro:property name="femur_visual_offset_y" value="0.010"/>
    <xacro:property name="femur_visual_offset_z" value="0.050"/>

    <xacro:property name="tibia_visual_offset_x" value="0.02"/>
    <xacro:property name="tibia_visual_offset_y" value="0.088"/>
    <xacro:property name="tibia_visual_offset_z" value="0.025"/>


</robot>



